@page
@model Calculators.IndexModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <p>
    Calculators
    </p>
    <ul>
        <li><a href="/calculators/pace">Pace</a></li>
        <li><a href="/calculators/distance">Distance</a></li>
        <li><a href="/calculators/calories">Calories</a></li>
    </ul>
</article>
