@page
@model Calculators.IndexModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <h1>Calculators</h1>
    <p>
        <h2>Pace</h2>
        <div><a href="/calculators/pace"><img class="rp-calc" src="/images/stopwatch.jpg" alt="stop watch" width="300" height="225" /></a></div>
        <div>How long will it take to finish a marathon if I can run 10 min/mile? What was my pace for a 5K run in 32 mins? Work it all out using the <a href="/calculators/pace">pace calculator</a>.</div>
    </p>
    <p>
        <h2>Distance Converter</h2>
        <div><a href="/calculators/distance"><img class="rp-calc" src="/images/measure.jpg" alt="tape measure" width="401" height="225" /></a></div>
        <div>Quickly swap between kilometers and miles or vice versa using the <a href="/calculators/distance">distance converter</a>.</div>
    </p>
    <p>
        <h2>Calorie Calculator</h2>
        <div><a href="/calculators/calories"><img class="rp-calc" src="/images/scales.jpg" alt="scales" width="312" height="225" /></a></div>
        <div>Get a rough idea <a href="/calculators/calories">how many calories were burnt</a> during that last run.</div>
    </p>
</article>
