@{
    ViewBag.Title = "Route:Pal";
    ViewBag.SelectedTab = "RoutePal";
    ViewBag.Scripts = new[] { "https://www.bing.com/api/maps/mapcontrol", "~/Scripts/latlon.js", "~/Scripts/geo.js", "~/Scripts/runnerspal-routemapping.js", "~/Scripts/runnerspal-maproute.js" };
}
<script type="text/javascript">
    $(function () {
        setTimeout(function() {
	        $("#routeManagementOptions").accordion({ heightStyle: "fill", active: 2 });
	        $("#routeManagement").resizable({ minHeight: 350, handles: "s", resize: function () { $("#routeManagementOptions").accordion("refresh"); }, alsoResize: "#mapDiv" });

	        var loginPromptDialog = $("#loginPromptDialog").dialog({ height: 280, width: 320, modal: true, buttons: { OK: function () { $(this).dialog("close"); } }, autoOpen: false });

	        var routeModel = new RouteDisplayModel();
	        routeModel.createMap('#mapDiv');

	        $('#routeNew').button({ icons: { primary: "ui-icon-newwin" }, text: false }).click(function () { routeModel.newRoute(); });
	        $('#routeReset').button({ icons: { primary: "ui-icon-refresh" }, text: false }).click(function () { routeModel.resetRoute(); });
	        $('#routeUndo').button({ icons: { primary: "ui-icon-arrowreturnthick-1-w" }, text: false }).click(function () { routeModel.undoLastPoint(); });
	        $('#routeSave').button({ icons: { primary: "ui-icon-circle-check" }, text: false }).click(function () { routeModel.saveRoute(loginPromptDialog); });
	        $('#routeDelete').button({ icons: { primary: "ui-icon-closethick" }, text: false }).click(function () { routeModel.deleteRoute(); });
	        $('#findARoute').submit(function () { return routeModel.findRoute($('#q').val()); });
	        $('.toggleDistUnits').click(function () { unitsModel.toggle(); });

	        ko.bindingHandlers.buttonEnabled = {
	            update: function (element, valueAccessor, allBindingsAccessor, viewModel) {
	                $(element).button(ko.utils.unwrapObservable(valueAccessor()) ? 'enable' : 'disable');
	            }
	        };
	        ko.applyBindings(routeModel);
	        unitsModel.change(function (u) { routeModel.updateFromUnitsModel(); });

	        routeModel.loadMyRoutes(function () { routeModel.loadRequestedRoute(); });
        }, 500);
    });
</script>

<h1>Routes</h1>

<div id="routeManagement">
<div id="routeManagementOptions">
	<h3><a>My Routes</a></h3>
	<div>
    <p data-bind="visible: myRoutes().length == 0">
    You have no saved routes - click the route mapping tab to plot a route, enter a name,
    then click save.
    </p>
    <ul data-bind="template: { foreach: myRoutes }">
        <li>
            <a href="#" data-bind="click: loadRoute, text: routeName, attr: { title: routeNotes }"></a>, <span data-bind="text: distance"></span> <span data-bind="text: distanceUnits"></span>.
            <span data-bind="visible: showLastRun, text: lastRunText"></span>
        </li>
    </ul>
    </div>
    <h3><a>Find a route</a></h3>
    <div>
        <form id="findARoute">
        <div>
            <label for="findRouteName"><strong>Find route:</strong></label>
            <input type="text" id="q" />
            <input id="findRouteGo" type="submit" value="Find..." />
        </div>
        
        <div data-bind="visible: foundRoutes().length == 0 && foundRouteText() == ''">Enter a search term to find a route.</div>
        <div data-bind="visible: foundRoutes().length == 0 && foundRouteText() != '', text: foundRouteText"></div>
        <ul data-bind="template: { foreach: foundRoutes }">
            <li>
                <a href="#" data-bind="click: loadRoute, text: routeName, attr: { title: routeNotes }"></a>, <span data-bind="text: distance"></span> <span data-bind="text: distanceUnits"></span>.
                <span data-bind="visible: showLastRun, text: lastRunText"></span>
            </li>
        </ul>
        </form>
    </div>
	<h3><a>Route Mapping</a></h3>
	<div>
        <div style="position: relative; float: left; z-index: 10; background-color: #efefef; width: 180px; padding: 5px;">
            <button id="routeNew" title="Clear all the points and start a new route">New</button>
            <button id="routeReset" data-bind="visible: routeId() > 0, buttonEnabled: allowSave()" title="Reset the points to the saved routed">Reset</button>
            <button id="routeUndo" data-bind="buttonEnabled: allowUndo()" title="Undo the last point added to the route">Undo</button>
            <button id="routeSave" data-bind="buttonEnabled: allowSave()" title="Save the route">Save</button>
            <button id="routeDelete" data-bind="visible: allowDelete()" title="Delete this route">Delete</button>

            <div><label for="route-name"><strong>Name:</strong> (* required)</label></div>
            <div><input type="text" id="route-name" data-bind="value: routeName, valueUpdate: 'afterkeydown'" /></div>

            <div>
                <strong>Distance:</strong>
                <span data-bind="text: distanceDisplay">0</span> <span data-bind="text: distanceUnits" class="toggleDistUnits" title="Toggle between miles and kilometers">miles</span>
            </div>

            <div><label for="route-notes"><strong>Route Notes:</strong></label></div>
            <div><textarea id="route-notes" rows="4" cols="20" style="width: 150px;" data-bind="value: routeNotes, valueUpdate: 'afterkeydown'"></textarea></div>

            <div>
                <label for="route-public" title="If checked, allows everyone to view this route"><strong>Public Route:</strong></label>
                <input type="checkbox" id="route-public" data-bind="checked: routePublic" title="If checked, allows everyone to view this route" />
            </div>

            <div data-bind="visible: routeDeleted()"><span class="important">Note: </span> This route has been deleted.</div>
        </div>
        <div id="mapDiv" style="position:relative; width:auto; height:100%"></div>
	</div>
</div>
</div>

<p></p>

<div id="loginPromptDialog" title="Please login">
	<p>
    Before you can save the route, you need to login or create an account
    at the <span class="important">top of the page</span>.
    </p>

    <p>
    <strong>First time users: </strong> Don't worry, it will only take a few moments
    and we only ask for a few details.
    </p>
</div>