@page
@model RoutePal.MapModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <h1>Route mapping</h1>
    <p>
        <form name="map" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="points" value="@Model.Points" />
        <div>
        <input type="submit" value="Save" />
        <button name="TODO">Undo</button>
        <button name="TODO">Clear</button>
        </div>
        <div>
        Name: <input type="text" name="routename" value="@Model.RouteName" />
        Notes: <textarea name="notes"><!-- TODO --></textarea>
        </div>
        </form>
    </p>
    <div id="map"></div>
</article>

@section Scripts {
<script type="text/javascript">
    const map = L.map('map');
    
    let mapPointsEl = $('form[name="map"] input[name="points"]');
    let mapPoints = mapPointsEl.val() === '' ? [] : JSON.parse(mapPointsEl.val());
    if ((typeof mapPoints !== 'object') || (typeof mapPoints.length !== 'number') || mapPoints.length === 0) {
        if (!navigator.geolocation) {
            map.setView([54.505, -0.09], 6);
        } else {
            navigator.geolocation.getCurrentPosition(
                function(position) {
                    map.setView([position.coords.latitude, position.coords.longitude], 12);
                },
                function() {
                    map.setView([54.505, -0.09], 6);
                });
        }
    } else {
	    map.fitBounds(L.latLngBounds(mapPoints));
    }
	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

    const route = new MapRoute(map, mapPointsEl);
    for (const mapPoint of mapPoints) {
        route.addPoint(mapPoint);
    }
</script>
}
