@page

<aside>
    <vc:user-nav />
</aside>

<article>
    <h1>Route not found</h1>
    <p>Sorry, but the route you are looking for cannot be found. It may have been deleted by the creator, or the link may have been entered incorrectly.</p>
    <p><small>Invalid share link: @Request.Query["ShareLink"]</small></p>
</article>
