@model UserNavModel

<nav>
<ul>
    <li class="@Model.Css("log")"><a href="/runlog">Log</a></li>
    <li class="@Model.Css("routes")"><a href="/routepal">Routes</a></li>
    <li class="@Model.Css("stats")"><a href="/user">Stats</a></li>
    <li class="@Model.Css("calcs")"><a href="/calculators">Calculators</a></li>
</ul>
</nav>