@page
@model RunLog.IndexModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <div class="cal-date-controls">
    <button id="cal-prev-year" title="Previous year">&nbsp;&laquo;&nbsp;</button>
    <button id="cal-prev-month" title="Previous month">&nbsp;&nbsp;&lsaquo;&nbsp;&nbsp;</button>
    <button id="cal-today" title="Go to the current month">Today</button>
    <button id="cal-next-month" title="Next month">&nbsp;&nbsp;&rsaquo;&nbsp;&nbsp;</button>
    <button id="cal-next-year" title="Next year">&nbsp;&raquo;&nbsp;</button>
    </div>
    <div><a href="/runlog/list" id="cal-date" title="View activities in a list instead of a calendar"></a></div>
    <div id="calendar"></div>
</article>

@section Head {
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">
<style type="text/css">
.rp-toast {
    cursor: default;
    color: red;
}
</style>
}
@section Scripts {
<script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js" integrity="sha256-ZztCtsADLKbUFK/X6nOYnJr0eelmV2X3dhLDB/JK6fM=" crossorigin="anonymous"></script>
<script type="text/javascript">
$().ready(function() {
    const toast = Toastify({
        text: "Could not load run log activities",
        duration: 3000,
        close: true,
        gravity: 'top',
        position: 'center',
        stopOnFocus: true,
        className: 'rp-toast',
        style: { background: 'black' }
    });
    const datesLoaded = new Set();
    var calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
        initialView: 'dayGridMonth',
        initialDate: '@Model.InitialDate',
        firstDay: 1,
        headerToolbar: false,
        dateClick: function(info) {
            window.location = '/runlog/activity?date=' + info.dateStr;
        },
        eventClick: function(info) {
            window.location = '/runlog/activity?activityid=' + info.event.id;
        },
        eventContent: function(event) {
            return { html: '<span class="rp-event-title">' + event.event.title + '</span>' };
        }
    });
    calendar.render();
    function onDateChange() {
        $('#cal-date').text(calendar.getDate().toLocaleDateString(undefined, { year: 'numeric', month: 'long' }));
        const calendarMonth = new Date(Date.UTC(calendar.getDate().getFullYear(), calendar.getDate().getMonth(), 1));
        if (datesLoaded.has(calendarMonth.getTime())) {
            console.log('run events already loaded for date ' + calendarMonth + ', no need to load events');
        } else {
            @if (Model.IsLoggedIn) {
            <text>
            console.log('run events not loaded for date ' + calendarMonth + ', loading...');
            $.getJSON('/api/runlog/activities?date='+encodeURIComponent(calendarMonth.toISOString()))
                .done(function(data) {
                    console.log('run entries retrieved...adding to calendar');
                    data.forEach(function(runLogEntry) {
                        if (!calendar.getEventById(runLogEntry.id))
                            calendar.addEvent({ id: runLogEntry.id, title: '' + runLogEntry.title + '<br/><small>' + runLogEntry.pace + '</small>', start: runLogEntry.date, allDay: true, extendedProps: { record: runLogEntry } });
                        else
                            console.log('event ' + runLogEntry.id + ' already in calendar, not adding again');
                    });
                    console.log('added '+data.length+' events to calendar');
                    datesLoaded.add(calendarMonth.getTime());
                })
                .fail(function() {
                    console.warn('failed getting run activities');
                    if (toast.shown)
                        toast.hideToast();
                    toast.showToast();
                    toast.shown = true;
                });
            </text>
            }
        }
    }

    onDateChange();    
    $('#cal-today').click(function() { calendar.today(); onDateChange(); });
    $('#cal-prev-year').click(function() { calendar.prevYear(); onDateChange(); });
    $('#cal-prev-month').click(function() { calendar.prev(); onDateChange(); });
    $('#cal-next-year').click(function() { calendar.nextYear(); onDateChange(); });
    $('#cal-next-month').click(function() { calendar.next(); onDateChange(); });
});
</script>
}
