body {
    background-color: white;
    min-width: 300px;
}

body,
h1,
h2,
p,
div,
span,
input,
button,
textarea,
select,
legend,
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

h1 {
    font-size: 14pt;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

h2 {
    font-size: 13pt;
    padding: 0;
    margin: 0 0 10px 0;
    font-weight: bold;
}

a,
a:link,
a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

header {
    display: -webkit-flex;
    display: flex;
    background-color: #87eb66;
    border-bottom: solid #d866eb 2px;
}

input,
select,
button {
    margin-top: 2px;
    margin-bottom: 2px;
}

nav.navbar-header {
    min-width: 260px;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding: 10px;
}

nav.navbar-header a {
    text-decoration: none;
    color: black;
}

nav.navbar-header span {
    font-size: 16pt;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 0px;
    display: inline-block;
}

nav.navbar-main {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
}

.nav-show,
.nav-close {
    cursor: pointer;
    display: none;
}

.navbar-nav {
    float: right;
}

main {
    display: -webkit-flex;
    display: flex;
}

aside {
    min-width: 120px;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding: 10px;
    background-color: #87eb66;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin: 0;
    padding: 0 0 20px 10px;
    list-style: none;
    border-top: 2px solid #87eb66;
}

aside ul li:hover,
aside ul li.rp-selected {
    color: #d866eb;
    border-top: 2px solid #d866eb;
}

article {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    background-color: white;
}

article a,
article a:link,
article a:visited {
    color: black;
}

footer {
    border-top: solid #d866eb 1px;
    padding: 10px;
    text-align: center;
    font-size: 10pt;
}

.pagination {
    display: inline-block;
}

.pagination * {
    float: left;
    padding: 5px 10px;
    text-decoration: none;
}

.pagination a.pagination-active {
    background-color: #d866eb;
}

.pagination a:hover:not(.pagination-active) {
    background-color: #87eb66;
}

.rp-home-options {
    width: 100px;
    display: inline-block;
}

#map {
    width: 100%;
    min-height: 300px;
    height: calc(100vh - 240px);
}

.leaflet-container span,
.leaflet-container a,
.leaflet-container a:link,
.leaflet-container a:visited {
    color: black;
}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-label-overlay {
    line-height: 0px;
    margin-top: 9px;
    position: absolute;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor: pointer;
}

.rp-distance-marker {
    font-size: 9pt;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 0px 12px 12px 12px;
    padding: 2px 8px 2px 8px;
}

#cal-date {
    font-size: larger;
    float: left;
}

.cal-date-controls {
    float: right;
}

#calendar {
    width: 100%;
    height: calc(100vh - 220px);
    min-height: 300px;
}

:root {
    --fc-event-text-color: white;
    --fc-event-bg-color: black;
    --fc-event-border-color: white;
}

.rp-event-title {
    white-space: wrap;
}

form[name="rp-runlog"] label,
form[name="rp-calc"] label,
form[name="rp-profile"] label {
    width: 105px;
    display: inline-block;
    vertical-align: top;
}

form[name="rp-runlog"] input[type="text"] {
    width: 110px;
    margin-bottom: 4px;
}

form[name="rp-runlog"] textarea {
    width: 300px;
    height: 60px;
}

#rp-distance {
    display: inline-block;
    width: 100%;
}

.rp-route-deleted {
    font-style: italic;
    font-size: small;
    color: red;
}

.the-datepicker__rp-runlog-datepicker-title {
    color: black;
}

.rp-map-head {
    float: left;
    padding-right: 8px;
}

form[name="rp-map"] textarea {
    width: 300px;
    height: 40px;
}

form[name="rp-map"] label {
    width: 105px;
    display: inline-block;
    vertical-align: top;
}

form[name="rp-map"] input[type="text"] {
    width: 110px;
    margin-bottom: 4px;
}

.rp-pace,
.rp-pace span {
    font-size: small;
    padding-bottom: 4px;
}

div.rp-map-name {
    float: left;
    margin-right: 10px;
}

div.rp-map-name+div {
    display: inline-block;
}

span.rp-calc-input {
    display: inline-block;
}

img.rp-calc {
    border-bottom: 1px dashed white;
    border-top: 1px dashed white;
}

#rp-stats-chart {
    width: 100%;
    min-height: 500px;
}

@media (max-width: 800px) {
    header {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    aside {
        display: none;
    }

    .nav-show {
        display: inline;
    }

    .narrow-hide {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    article {
        background-color: black;
        color: white;
    }

    article a,
    article a:link,
    article a:visited {
        color: white;
    }

    footer {
        color: white;
    }

    :root {
        --fc-event-text-color: black;
        --fc-event-bg-color: white;
        --fc-event-border-color: black;
    }
}