@{ ViewBag.Title = "User: Create Your Account"; }
<form method="post" action="@Url.Action("AddName")">
    <p>
    To finish creating your account, please enter your name.
    </p>
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="important">@ViewData["ErrorMessage"]</div>
    }
    <div>
    Enter your name: <input type="text" name="name" value="@Context.Session.GetString("login_friendlyname")" />
    </div>
    <div>
    <input type="submit" class="submit" value="Continue" />
    </div>
</form>