@{
    ViewBag.Title = "My:Stats";
    ViewBag.SelectedTab = "MyStats";
}
<h1>Stats</h1>

<p>
When you have logged at least one run, you will see charts of your total distance run and average pace.
</p>

<p>
Go to the <a href="@Url.Action("", "runlog")">Run:Log</a> page to start logging your runs today.
</p>