@{
    ViewData["Title"] = "Error";
}

<h1>We've run into a problem!</h1>
<p>
Sorry, we've encountered an error trying to handle your request. This has been reported and
we will be investigating and will endeavour to fix this so it doesn't re-occur!
</p>