@page
@model IndexModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <h1>Runners:Pal</h1>
    <ul>
    <li><a href="/runlog">Log</a> Keep track of those runs</li>
    <li><a href="/routepal">Routes</a> Plot your routes on a map</li>
    <li><a href="/user">Stats</a> Track those all important stats</li>
    <li><a href="/calculators">Calculators</a> Make light work of all the running maths</li>
    </ul>
</article>
