@page
@model IndexModel

<aside>
    <nav>
    <ul>
        <li><a href="/">Log</a></li>
        <li><a href="/">Routes</a></li>
        <li><a href="/">Stats</a></li>
        <li><a href="/">Calculators</a></li>
    </ul>
    </nav>
</aside>

<article>
    <p>
    Content
    </p>
    <p>This is a <a href="/something">link</a></p>
</article>
