@page
@model IndexModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <h1>Runners:Pal</h1>
    <ul>
    <li><span class="rp-home-options"><a href="/runlog">Log</a></span>Keep track of those runs</li>
    <li><span class="rp-home-options"><a href="/routepal">Routes</a></span>Plot your routes on a map</li>
    <li><span class="rp-home-options"><a href="/user">Stats</a></span>Track those all important stats</li>
    <li><span class="rp-home-options"><a href="/calculators">Calculators</a></span>Make light work of all the running maths</li>
    </ul>
</article>
