@page
@model IndexModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <h1>Runners:Pal</h1>
    <div class="rp-home-options">
        <div>
            <h2><a href="/runlog">Log</a></h2>
            <div><a href="/runlog" title="Open your running log"><img src="/images/rundiary.jpg" alt="Run log diary" width="272" height="180" class="rp-calc" /></a></div>
            <div>Keep track of those runs</a></div>
        </div>
        <div>
            <h2><a href="/routepal">Routes</a></h2>
            <div><a href="/routepal" title="Plot and manage all your running routes"><img src="/images/mapping.jpg" alt="Route mapping" width="282" height="180" class="rp-calc" /></a></div>
            <div>Plot your routes on a map and view all your saved routes</div>
        </div>
        <div>
            <h2><a href="/user">Stats</a></h2>
            <div><a href="/user" title="Check out your stats"><img src="/images/chart.jpg" alt="Running stats" width="281" height="180" class="rp-calc" /></a></div>
            <div>Track those all important stats</div>
        </div>
        <div>
            <h2><a href="/calculators">Calculators</a></h2>
            <div><a href="/calculators" title="Calculate running pace, distance, and calories"><img src="/images/stopwatch.jpg" alt="Calculators" width="240" height="180" class="rp-calc" /></a></div>
            <div>Make light work of all the running maths</div>
        </div>
    </div>
</article>
