@page
@model RunLogModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <p>
    Run Log
    </p>
    <div class="cal-date-controls">
    <button id="cal-prev-year" title="Previous year">&nbsp;&laquo;&nbsp;</button>
    <button id="cal-prev-month" title="Previous month">&nbsp;&nbsp;&lsaquo;&nbsp;&nbsp;</button>
    <button id="cal-today" title="Go to the current month">Today</button>
    <button id="cal-next-month" title="Next month">&nbsp;&nbsp;&rsaquo;&nbsp;&nbsp;</button>
    <button id="cal-next-year" title="Next year">&nbsp;&raquo;&nbsp;</button>
    </div>
    <div id="cal-date"></div>
    <div id="calendar"></div>
</article>

@section Scripts {
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js" integrity="sha256-ZztCtsADLKbUFK/X6nOYnJr0eelmV2X3dhLDB/JK6fM=" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function() {
    var calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
        initialView: 'dayGridMonth',
        headerToolbar: false,
        dateClick: function(info) {
            alert('Clicked on: ' + info.dateStr);
        },
        eventClick: function(info) {
            alert('Clicked on: ' + info.event.id);
        },
        eventContent: function(event) {
            return { html: '<span class="rp-event-title">' + event.event.title + '</span>' };
        }
    });
    calendar.render();
    function onDateChange() {
        $('#cal-date').text(calendar.getDate().toLocaleDateString(undefined, { year: 'numeric', month: 'long' }));
    }

    onDateChange();    
    $('#cal-today').click(function() { calendar.today(); onDateChange(); });
    $('#cal-prev-year').click(function() { calendar.prevYear(); onDateChange(); });
    $('#cal-prev-month').click(function() { calendar.prev(); onDateChange(); });
    $('#cal-next-year').click(function() { calendar.nextYear(); onDateChange(); });
    $('#cal-next-month').click(function() { calendar.next(); onDateChange(); });

    calendar.addEvent({ id: 1, title: '3.11 miles in 00:28:37<br/>9:12 min/mile', start: '2024-12-18', allDay: true });
});
</script>
}
